@font-face{font-family: Groovy; src:url(Handmade.otf)}
@font-face{font-family: Nortune; src:url(Nortune-Black.ttf) }
@font-face{font-family: Train; src:url(TrainLetters-Demo.ttf)}

body {
background-color:#caf8f4;
font-family: 'Groovy';
}

h1 {
font-family: 'Nortune';
}

p{
font-size: 17px; 
}

.scrollie {
background-color:#ff5e00;    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #828282;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Groovy';
  }
  .topnav span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Groovy';
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(46, 46, 46);
    color: rgb(82, 235, 217);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2004aa;
    color: white;
  }
.pedia {
background-color:#e3e3e3
  }
.pedia {
font-family:'Times New Roman' !important;
}
.grey {
  background-color: #828282;
}

.float {
  float: left;
  width: 75%;
}

.descbox {
  float: left;
  width: 25%;
  background-color:#828282;
}

th {
  text-align: center;
}

section {
  clear: left;  
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dadada;
}

th {
  font-size: 20px;
}

.flex{
  display: flex;
  width: 100%;
  justify-content: center;
}

.short{
  width: 20%;
}

.wide{
  width: 30%;
}

.fill{
  float: left;
  width: 100%;
}

p {
  padding: 5px;
}

h1 {
  padding: 5px;
}

h2 {
  padding: 5px;
}